md-content.login-container
  min-height: 100vh
  h1
    font-size: 36px
    margin-top: 0
  .md-button.activate-login-modal
    padding: 10px 30px
    font-size: 24px
    text-transform: capitalize
    line-height: 30px;
    img
      width: 30px
      margin-bottom: -7px
    span
      position: relative
      top: -5px
